/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-datepicker
 */


body{
	padding-top: 60px;
}

.navbar{
	background: #000;
	background-image: -webkit-linear-gradient(top, #1c1e20, #040505);
}

.nav li.user{
	padding: 8px 0 0 0;
	color: #fff;
}

.nav li.user img{
	margin: 0 10px;
	border: 1px solid #444;
	padding: 1px;
}

.nav li.logout{
	font-size: 0.8em;
}

.brand a{
	font-weight: bold;
	color: #9aca38;
	text-shadow: 0 1px 0 rgba(0,0,0,0.7);
	padding: 0 0 0 30px;
	background: url('/assets/icon.png') top left no-repeat;
}

td img{
	border: 1px solid #ccc;
	padding: 1px;
}